@model MovieGo_MasonAssignment.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewPara)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewPara)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Movies" asp-action="details" asp-route-id="@Model.MovieId">@Html.DisplayFor(model => model.Movie.Name)</a> <!--Allows user to travle to movie detail view, useing the id field and url-->
   
           
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Edit" asp-route-id="@Model.ReviewId">Edit</a>
    }
        <a asp-action="Index">Back to List</a>
 </div>
